<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/grid.css">
    <link rel="stylesheet" href="../styles/mobile.css">
    <title>Minecraft</title>
</head>
<body>
<header>
    <h2>
        Завдяки своїй унікальній комбінації творчості та виживання,<br>
        Minecraft став однією з <span class="highlighted">найулюбленіших відеоігор</span> для гравців різного віку.
    </h2>
    <div class="header-text">
        <h1>Будуй свій світ, грай у свою гру: Minecraft!</h1>
    </div>
</header>
<div class="nav-bar">
    <a href="../index.html" class="tab-button ">Default</a>
    <a href="mail.html" class="tab-button">Mail</a>
    <a href="#" class="tab-button active-tab">Mobile</a>
</div>
<div class="main-content">
    <div class="content">
        <p>
            Minecraft - це відома в усьому світі відеогра, яка поєднує в собі неймовірну свободу творчості та виживання.<br>
            Гравці можуть будувати всесвіти своєї мрії з блоків, досліджувати безмежні ландшафти, знаходити різноманітних монстрів і розгадувати таємниці.
        </p>
    </div>
    <div class="content-2">
        <h3>
            У Minecraft гравці мають можливість досліджувати неймовірні світи, які генеруються випадковим чином.<br>
            Кожен світ унікальний і має свою унікальну географію, річки, гори, ліси і печери.
        </h3>
    </div>
</div>
<div class="right">
    <h2>
        Minecraft також відзначається своєю глибокою системою розвитку та виживання.<br>
        Гравці повинні шукати їжу, добувати ресурси для побудови, а також боротися з різними монстрами, які приходять уночі.<br>
        Для успіху вам доведеться розробляти стратегії та покращувати свої навички.
    </h2>
</div>
<footer>
    <h2>
        У світі Minecraft існує <span class="highlighted">безмежна кількість можливостей</span> для творчості.<br>
        Гравці можуть будувати будь-що, що їм заманеться, використовуючи різні блоки та матеріали.<br>
    </h2>
    <div class="footer-text">
        <h1>Виживай, твори, завоюй в Minecraft!</h1>
    </div>
</footer>
</body>
</html>