@media (max-width: 768px) {
    body {
        grid-template-areas:
        "header header header"
        "nav-bar main-content main-content"
        "nav-bar main-content main-content"
        "right right right"
        "footer footer footer";
        overflow-y: auto;
    }

    header {
        padding: 10px;
        grid-template-columns: 2fr 1fr;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .tab-button {
        font-size: 1.2rem;
        margin: 0;
        height: fit-content;
        transform: rotate(-90deg);
    }

    .main-content {
        grid-template-rows: 2fr 1fr;
    }

    .content, .content-2 {
        padding: 5px;
        border-width: 1px;
        overflow-y: auto;
    }

    .right {
        padding: 10px;
    }

    footer {
        padding: 10px;
        grid-template-columns: 2fr 1fr;
        border-top: solid #FDEA8E 1px;
    }

    .footer-text, .header-text {
        width: fit-content;
        height: fit-content;
    }

    h1 {
        font-size: 0.7rem;
    }

    h2, h3 {
        font-size: 0.8rem;
    }

    p {
        font-size: 1.1rem;
    }
}
